
{% extends "layout.html" %}
{% block content %}
<!-- feed -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7 mt-5">
<div class="feed">

        
        

<div class="post">
    <div class="post_header">
      <img class="rounded-circle article-img" src="{{ url_for('static',filename='profile/' + post.author.image_file)}}"
  
  <img class="fas fa-user "></img>
  <div class="post_info">
    <h2>{{post.author.username}}</h2>
    <p>{{post.date_posted.strftime('%Y-%m-%d')}}</p>
    {% if post.author == current_user %}
    {% endif %}
  </div>
  </div>
  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

    <div class="post_body"> 
        <h2>{{ post.title }}</h2>   
  <p>{{post.content}}</p>
  </div>
    <div class="feed_inputoption">
      <div class="input_option">
  
      </div>
    </div>
  </div>
 
</div>

</div>

</div>

<!-- modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id)}}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>


  {% endblock content %}