* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #aab8c2;

}
.body_main {
  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar {
  border-radius: 10px;
  text-align: center;
  position: sticky;
  top: 80px;
  height: fit-content;
  flex: 0.2;
}

.sidebar_top img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightblue;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar_stats {
  padding: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.sidebar_stat {
  display: flex;
  justify-content: space-between;
}

.sidebar_top h4 {
  font-size: 12px;
  margin-top: 5px;
}

.sidebar_top h2 {
  font-size: 18px;
}
.sidebar_bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
}
.sidebar_recentitem {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
}

/* feed */

.feed {
  flex: 0.6;
  margin: 0 20px;
  margin-top: 47px;
}
.feed_inputcont {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.feed_input {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  color: gray;
  padding-left: 15px;
}

.feed_input form {
  display: flex;
  width: 100%;
}

.feed_input form input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.feed_inputoption {
  display: flex;
  justify-content: space-evenly;
}
.inputoption {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

/* posts */
.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post_header {
  display: flex;
  margin-bottom: 10px;
}
.post_info {
  margin-left: 10px;
}
.post_info p {
  font-size: 12px;
  color: gray;
}
.post_info h2 {
  font-size: 15px;
}

/* widgets */
.widgets {
  position: sticky;
  top: 80px;
  float: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets_header h2 {
  font-size: 16px;
  font-weight: 400;
}

.widgets_article {
  display: flex;
  padding: 10px;
}

.profile_img {
  width: 100px;
  height: 100px;
}

.article-img {
  height: 70px;
  width: 70px;
}

.coupon {
  border: 5px dotted #bbb; 
  border-radius: 15px; 
  margin: 20px 0; 
  max-width: 600px;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}

.bg-color {
  background-color: #1da1f2;
}

.token:hover {
  background-color: #1da1f2;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.para:hover {
  background-color: #1da0f24b;
  border: 1px solid lightblue;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
}
